node_modules
dist
*.log
.DS_Store
coverage
.env
.env.*

# Storybook
*storybook.log
storybook-static
.storybook
*.stories.jsx

# Claude
.claude

# graphify
graphify-out

# fichiers de travail personnels
modif.md
temp.md
accueil, projetstage, réalisation,.txt
